---
title: home
layout: layouts/main.njk
eleventyNavigation:
  key: home
---
    {% include "./_templates/_partials/slider.njk" %}

    <div class="home-decoration-1">
      <img src="assets/images/home-decoration-1.png" alt="" class="">
    </div>
    {% include "./_templates/_partials/section-tokeny.njk" %}
    {% include "./_templates/_partials/section-about.njk" %}
    <div class="home-decoration-2">
      <img src="assets/images/home-decoration-2.png" alt="">
    </div>

    {% include "./_templates/_partials/section-how.njk" %}
    {% include "./_templates/_partials/section-about2.njk" %}
    {% include "./_templates/_partials/section-news.njk" %}
    <div class="home-decoration-3">
      <img src="assets/images/home-decoration-1.png" alt="" class="">
    </div>
    {% include "./_templates/_partials/section-faq.njk" %}
    {% include "./_templates/_partials/section-newsletter.njk" %}
    {% include "./_templates/_partials/section-media.njk" %}
    {% include "./_templates/_partials/section-portfolio.njk" %}
    {% include "./_templates/_partials/section-map.njk" %}











