<div class="section-map">
    <div id="googlemap" style="height:90vh" data-lat="52.2296756" data-lng="21.0122287"></div>
    <div class="map-points">
        <div class="map-point" data-lat="52.2296756" data-lng="21.0122287" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></div>
        <div class="map-point" data-lat="48.856614" data-lng="2.3522219" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></div>
    </div>
</div>