<div class="about-section py-5">
    <div class="container">
        <div class="row gx-lg-5">
            <div class="col-lg-5">
                <img src="/assets/images/about-image.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 pe-lg-5 pt-lg-5">
                <h2 class="section-title">O nas</h2>
                <p class="text-uppercase">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="#" class="btn btn-primary btn-wide mt-5">Czytaj więcej</a>
            </div>
        </div>
    </div>
</div>