<div class="slider-section">
    <div class="splide">
        <div class="container">
            <div class="position-relative">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for i in range(0, 3) -%}
                        <li class="splide__slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="row gx-0 px-1 align-items-center">
                                        <div class="col-lg-5 py-4">
                                            <h2 class="font-oswald">
                                Inwestycje przyszłości
                            </h2>
                                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                                            <a href="#" class="btn btn-primary">Sprawdź szczegóły</a>
                                        </div>
                                        <div class="col-lg-6 ms-auto">
                                            <img src="assets/images/slider1.jpg" class="img-fluid slider-img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {%- endfor %}
                        
                    </ul>
                </div>
                <div class="slider-nav">
                    <div class="splide__arrows"></div>
                    <ul class="splide__pagination"></ul>

                </div>
            </div>
        </div>

    </div>
</div>