
<div class="related-posts py-5 my-5">
    <div class="container">
        <h3 class="h4 fw-bold text-center mb-5">Zobacz także:</h3>
        <div class="row">
             {% for i in range(0, 3) -%}
                    <div class="col-lg-4">
                        <a class="card card-light mb-3" href="#">
                            <div class="card-main-image img-corner-left-top">
                                <img src="assets/images/tokens-img.jpg" class="card-img-top" alt="Token">
                                <div class="card-main-image-overlay">
                                    <span class="btn">Poznaj szczegóły</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-date">
                                    21.05.2023
                                </div>
                                <h5 class="card-title--news">
                                            Energrtyka przyszłości EMC
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </p>
                                <span class="card-readmore">Czytaj więcej</span>
                            </div>
                            </a>
                    </div>
                {%- endfor %}
        </div>
    </div>
</div>