<div class="about-section py-5">
    <div class="container py-5">
        <div class="row gx-lg-5">
            <div class="col-lg-5">
                <img src="/assets/images/about-image2.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 pe-lg-5 pt-lg-5">
                <h2 class="text-uppercase">
                    tokenizacja <span class="text-primary">rewolucjonizuje 
                    rynek</span> fotowoltaiki,
                </h2>
                    <p class="fs-4">
                    umożliwiając inwestycję w projekty fotowoltaiczne w sposób zdecentralizowany i bardziej dostępny dla inwestorów.
                    </p>

                <p>
                    Dzięki temu, inwestycje w fotowoltaikę stają się bardziej transparentne i elastyczne, 
a inwestorzy mają większy wpływ na procesy związane z produkcją energii słonecznej. Tokeny oparte na technologii blockchain pozwalają na bezpieczne i efektywne zarządzanie inwestycją oraz śledzenie wykorzystania środków, co przyczynia się do zwiększenia zaufania inwestorów do projektów fotowoltaicznych. 
                </p>
                <p>

W ten sposób, tokenizacja może odegrać kluczową rolę w dalszym rozwoju i upowszechnieniu fotowoltaiki jako źródła czystej energii.
                </p>
            </div>
        </div>
    </div>
</div>