<div class="section-how" style="background-image:url(/assets/images/howto-bg.jpg);">
    <div class="section-content">
    <div class="container">
        

        <div class="row">
            <div class="col-lg-6">
                <h2 class="section-title text-primary">
            Jak zainwestować?
        </h2>
                <p class="fs-2">
                    Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu fugiat 
                    nulla pariatur. 
                </p>
                <div class="my-5 d-flex flex-column flex-md-row">
                    <a href="#" class="btn btn-wide btn-primary mb-3 mb-md-0 me-md-3">
                        Dowiedz się więcej
                    </a>
                    <a href="#" class="btn btn-wide btn-dark">Załóż konto</a>
                </div>
                <p class="fs-5">Masz już konto? <a href="#" class="link-light fw-bold">Zaloguj się</a></p>
            </div>
            <div class="col-4 col-lg-3 pt-lg-5 pt-5 mx-auto text-center">
                <img src="/assets/images/question-mark.png" alt="" class="img-fluid mx-auto">
            </div>
        </div>
        
    </div>
    </div>
</div>