---
    title: projekt-ecm
    permalink: "projekt-ecm.html"
    layout: layouts/main.njk
    eleventyNavigation:
    key: projekt-ecm
---
{% set header_title = "Energetyka przyszłości ECM" %}
{% set breadcrumbs =  [{title: 'Home'}, {title: 'Tokeny'}, {title: 'Energetyka przyszłość ECM'}] %}
{% set header_class = "project-header" %}

{% include "./_templates/_partials/_page-header-text.njk" %}


<div class="projects-info pb-5">
    <div class="container">

        <div class="row gx-lg-6 gy-5">
            <div class="col-lg-8">

                <div class="project-map">
                    <div id="googlemap" style="height:565px" data-lat="52.2296756" data-lng="21.0122287"></div>
                    <div class="map-points">
                        <div class="map-point" data-lat="52.2296756" data-lng="21.0122287" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></div>
                        <div class="map-point" data-lat="48.856614" data-lng="2.3522219" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">

                    <dl>
                        <dt>Wartość:</dt>
                        <dd>8,9 mln $</dd>

                        <dt>Start pre-sale:</dt>
                        <dd>2022-11-18</dd>

                        <dt>Koniec pre-sale:</dt>
                        <dd>2023-11-30</dd>

                        <dt>Start crowdsale:</dt>
                        <dd>2022-12-01</dd>
                    </dl>              

                </div>
                <div class="col-lg-6">

                    <dl>
                        <dt>Koniec crowdsale:</dt>
                        <dd>2022-12-31</dd>

                        <dt>Zysk crowdsale:</dt>
                        <dd>15</dd>

                        <dt>Bonus pre-sale:</dt>
                        <dd>1</dd>
                    </dl>

                </div>
                </div>

                <h2>
                    O projekcie
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h2>
                   Koncepcja
                </h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>

                {% include "./_templates/_partials/_project-roadmap.njk" %}


                <h2>
                    Technologia
                </h2>

                <h3>
                    BEP-20
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h3>
                    e-vision
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h3>
                    DApp
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h3>
                    Mr Mega Watt
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                
            </div>
            <div class="col-lg-4">

                <div class="project-sticky">

                <a href="#" class="btn btn-dark d-block btn-lg">
                    Zainwestuj
                </a>

                
                <aside class="project-details">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="project-icons">
                                <div class="project-icons-icon">
                                    <svg class="icon">
                                        <use xlink:href="#calendar" />
                                    </svg>
                                </div>
                                <div class="project-icons-text">
                                    2 lata
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="project-icons">
                                <div class="project-icons-icon">
                                    <svg class="icon">
                                        <use xlink:href="#procent" />
                                    </svg>
                                </div>
                                <div class="project-icons-text">
                                    5% zwrotu
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="project-countdown">
                        <p class="text-uppercase">
                            <strong>Pozostało:</strong>
                        </p>
                        <div class="countdown" data-date="24-9-2023"  data-time="23:00">
                            <div class="day"><span class="num"></span><span class="word"> dni</span></div>
                            <div class="hour"><span class="num"></span><span class="word"> godzin</span></div>
                            <div class="min"><span class="num"></span><span class="word"> minut</span></div>
                            <div class="sec"><span class="num"></span><span class="word"> sekund</span></div>
                        </div>
                    </div>


                    <div class="project-progress">
                        <div class="row">
                            <div class="col-6">
                                <p>Zebrane (50%):</p>
                                <p class="fs-6"><strong>167 tys. PLN</strong></p>
                            </div>
                            <div class="col-6 text-end">
                                <p>Cel:</p>
                                <p class="fs-6">700 tys. PLN</p>
                            </div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>

                    </div>

                </aside>


                <aside class="project-nav">
                    <h4>Zobacz:</h4>
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <a href="#" class="project-btn d-block">
                                White paper ECM
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="project-btn d-block">
                                ECM pigułka
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="project-btn d-block">
                                Regulamin
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="project-btn d-block">
                                Polityka prywatności
                            </a>
                        </div>
                    </div>
                </aside>

                
            </div>

            </div>
            
        </div>

    </div>
</div>



