.projects-info {
    h2 {
        font-family: Oswald;
        margin-bottom: 2rem;
        margin-top: 3rem;
        text-transform: uppercase;
        font-weight: 800;
    }   
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    dl {
        display: flex;
        flex-wrap:wrap;
        dt {
            flex: 0 0 50%;
        }
        dd {
            flex: 0 0 50%;
        }
    }
}

.project-icons {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        &-icon {
            flex: 0 0 30px;
            margin-right: 1rem;
            color: $primary;
            svg {
                width: 28px;
                height: 28px;
            }
        }
        &-text {
            flex: 0 1 auto;

        }


    }

.project-progress {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


aside.project-nav {
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .project-btn {
        background: #f3f3f3;
        color: #000;
        text-align: center;
        padding: 20px 25px;
        @include transition($transition-base);
        &:hover, &:active, &:focus {
            background: $primary;
            color: #fff;
        }
        
    }
}



.project-main-slider {
    margin-bottom: 0.5rem;
    .splide__arrow {
        height: 120px;
        width: 64px;
        border-radius: 0;
        background: rgba(#fff,.8);
        &--prev {
            left: 0;
        }
        &--next {
            right: 0;
        }
    }
    a.slide-link {
        position: relative;
        display: block;
        &:after {
            position: absolute;
            width: 52px;
            height: 52px;
            content: '';
            z-index: 50;
            background-color: $primary;
            /* background-color: #FFFFFF; */
            background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 118.8 118.8" style="enable-background:new 0 0 118.8 118.8;" xml:space="preserve"><path fill="%23fff" d="M116,101.6L88.7,74.3c4.6-7.4,7.3-16.1,7.3-25.5c0-26.5-21.5-48-48-48S0,22.3,0,48.8c0,26.5,21.5,48,48,48c10.2,0,19.6-3.2,27.4-8.6l27,27c1.9,1.9,4.3,2.8,6.8,2.8c2.5,0,4.9-0.9,6.8-2.8C119.7,111.4,119.7,105.3,116,101.6z M48,81.2c-17.9,0-32.4-14.5-32.4-32.4S30.1,16.4,48,16.4c17.9,0,32.4,14.5,32.4,32.4S65.9,81.2,48,81.2z"/></svg>');
            background-size: 30px 30px;
            background-position: center center;
            background-repeat: no-repeat;
            bottom: 0;
            right: 0;
            @include transition($transition-base);
            
        }
    }
}

.project-map {
    margin-bottom: 2rem;
}

.project-sticky {
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 4.5rem;
    }
}

.project-social-media {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    h2 {
        font-family: Oswald;
        font-weight: bold;
        flex: 0 0 auto;
        margin-right: 2rem;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0;
    }
    .nav {
        .icon {
            width: 26px;
            height: 20px;

        }
        .nav-item {
           
        }
        .nav-link {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            color: #000;
            &:hover, &:focus, &:active {
                color: $primary;
            }
        }
    }
}

.project-thumbnail-slider {
    margin-bottom: 2rem;
    .splide__arrow {
        height: 100%;
        width: 64px;
        border-radius: 0;
        background: rgba(#fff,.8);
        &--prev {
            left: 0;
        }
        &--next {
            right: 0;
        }
    }
    img {
        height: 120px;
        width: 100%;
        object-fit: cover;
    }
    .splide__track--nav > .splide__list > .splide__slide {
        border: 0;
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: $primary;
            opacity: 0;
            @include transition($transition-base);
        }
    }
    .splide__track--nav > .splide__list > .splide__slide.is-active {
        border: 0;
        &:before {
            opacity: .5;
        }
    }
}
