.card-main-image {
    position: relative;
    background: transparent;
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba($primary,.4);
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition($transition-base);
        opacity: 0;
        .btn {
            background: $primary;
            color: #fff;
            text-transform: uppercase;
            padding: 0.5rem 2rem;
        }
    }
}

.card {
    background: transparent;
    &:hover {
        .card-main-image {
            &-overlay {
                opacity: 1;
            }
        }
    }
    .card-body {
        padding: 2rem 3rem;
    }
    .card-date {
        text-align: center;
        
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
        // font-weight: bold;
        font-weight: 500;
        font-size: 14px;
        border-bottom: 1px solid #494746;
    }
    .card-readmore {
        text-align: center;
        text-transform: uppercase;
        border-top: 1px solid #494746;
        width: 100%;
        margin-top: 1.5rem;
        padding-top: 1rem;
        display: block;

        
    }
    .card-title {
        margin-bottom: 2rem;
        &--news {
            font-weight: bold;
            margin-bottom: 2rem;
        }
        &--portfolio {
            font-weight: bold;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }

        &-has-icon {
            display: flex;
            align-items: center;
        }
        &-icon {
            flex: 0 0 54px;
            margin-right: 1rem;
        }
        &-text {
            padding-left: 1rem;
            border-left: 1px solid #494746;
            font-weight: bold;
        }
    }

    .card-progress {
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .card-intro {
        padding-bottom: 1rem;
        border-bottom: 1px solid #494746;
        margin-bottom: 1rem;
        font-weight: bold;
    }

}

.card-dark {
    .card-img-top {
        border: 0;
    }
    .card-body {
        border: 0;
        background: #252322;
        @include transition($transition-base);
        color: #fff;
    }
    &:hover {
        .card-body {
            background: #363433;
        }
    }
}

.card-light {
    .card-body {
        background: #f3f3f3;
        color: #000;
    }
    .card-readmore {
        border-top: 1px solid #c2c2c2;
    }
}